{% extends "basic_header.html" %}
{% load settings_vars %}

{% block content %}
<div class="container">
    <div class="inner-container">
        <div class="row">
            <div class="upper-message" style="background-color: {{ bcolor }}"><a href="{% get_settings_var 'ACCOUNT_PASSWORD_RESET_CONFIRM' %}?uidb64={{ uid }}&token={{ token }}">Laat Boodschap in Browser zien</a></div>
            <div class="title-bar" style="background-color: {{ bcolor }}"><span>Gemeente {{ municipality }}</span> Raadsinformatie Portaal</div>
            <div class="message-body">
                <div class="upper-message-body">
                    <label>Beste {{ username }},</label>
                    <p>
						Klink op onderstaande link om uw wachtwoord te resetten.
						
						De link is 7 dagen geldig. Maak daarom snel een nieuw wachtwoord aan.	
                    </p>
                    <a class="activate-btn" style="background: {{ bcolor }}" href="{% get_settings_var 'ACCOUNT_PASSWORD_RESET_CONFIRM' %}?uidb64={{ uid }}&token={{ token }}">Reset mijn wachtwoord</a>
                </div>
            </div>
            <div class="footer" style="background-color: {{ bcolor }}">
                <label>Raads Informatie Portaal Gemeente {{ municipality }}</label>
                <div>
                    <label>RIS {{ municipality }}: </label> <a href="{{ portal_url }}">{{ portal_url }}</a>
                    <!-- <label>Over RIS: </label> <a href="{{ portal_url }}">Het Raads informatie Portaal concept</a> <span>|</span>
                    <label>Contact: </label> <a href="{{ portal_url }}">RIS Infodesk</a> <span>|</span>
                    <a href="{{ portal_url }}">Hoe werkt RIS</a> <span>|</span> <a href="{{ portal_url }}">Uitschrijven van de RIS Gemeente X Zoekmachine</a> -->
                </div>
            </div>
            <a style="display: none" href="https://icons8.com">Icon pack by Icons8</a>
        </div>
    </div>
</div>
{% endblock %}