{% extends "basic_header.html" %}

{% block content %}
<div class="container">
    <div class="inner-container">
        <div class="row">
            <div class="upper-message" style="background-color: {{ bcolor }}"><a href="{{ url }}">Laat Boodschap in Browser zien</a></div>
            <div class="title-bar" style="background-color: {{ bcolor }}"><span>Gemeente {{ municipality }}</span> Raadsinformatie Portaal</div>
            <div class="message-body">
                <div class="upper-message-body">
                    <label>Beste {{ username }},</label>
                    <p style="margin-top: 10px">
                        Je hebt de rol gekregen van <b>{{ updated_type }}</b> in de portal.
                    </p>
                </div>
            </div>
            <div class="footer" style="background-color: {{ bcolor }}">
                <label>Raads Informatie Portaal Gemeente {{ municipality }}</label>
                <div>
                    <label>RIS {{ municipality }}: </label> <a href="{{ portal_url }}">{{ portal_url }}</a>
                </div>
            </div>
            <a style="display: none" href="https://icons8.com">Icon pack by Icons8</a>
        </div>
    </div>
</div>
{% endblock %}